#header-img1 {
	position: absolute;
	width: 164px;
	height: 124px;
	top: 0;
	margin-left: 779px;
	background: url("img/header1.jpg") 0px 0px no-repeat;
	z-index: 2;
}

#header-img2 {
	position: absolute;
	width: 168px;
	height: 132px;
	top: 0;
	margin-left: 754px;
	background: url("img/header2.jpg") 0px 0px no-repeat;
	z-index: 2;
}
